# Libraries Needed

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

<h3>Loading train and test data</h3>

In [4]:
train_file_path = 'Desktop/train.csv'
test_file_path = 'Desktop/test.csv'
train_data = pd.read_csv(train_file_path)
test_data = pd.read_csv(test_file_path)

In [17]:
y = train_data.Survived 
print(y.shape)
new_train_data = train_data.drop(['Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'], axis=1)
new_train_data['Sex'].loc[new_train_data['Sex'] == 'male'] = 0
new_train_data['Sex'].loc[new_train_data['Sex'] == 'female'] = 1
X = new_train_data.copy()
X.head()

(891,)

c:\users\egypt_laptop\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   PassengerId  Pclass  Sex
0            1       3    0
1            2       1    1
2            3       3    1
3            4       1    1
4            5       3    0

In [15]:
new_test_data = test_data.drop(['Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1)
new_test_data['Sex'].loc[new_test_data['Sex'] == 'male'] = 0
new_test_data['Sex'].loc[new_test_data['Sex'] == 'female'] = 1
new_test_data.head()

   PassengerId  Pclass  Sex
0          892       3    0
1          893       3    1
2          894       2    0
3          895       3    0
4          896       3    1

<h4>Split train data into train and validate</h4>
<h4>Build the naive bayes classifier</h4>
<h4>Calculating its accuracy</h4>

In [20]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
clf = GaussianNB()
clf.fit(train_X, train_y)
predictions = clf.predict(val_X)
print(accuracy_score(val_y, predictions))

0.7802690582959642

<h3>Predict the given data, put them in a dataframe then output it on an excel sheet</h3>

In [35]:
test_data_predictions = clf.predict(new_test_data)
output = pd.DataFrame({'PassengerId': new_test_data['PassengerId'],
                      'Survived':test_data_predictions})

output.to_csv('output.csv', index=False)